[% PROCESS 'nav.tt' %]
<div class="container">
	[% content %]
  <hr>
  <footer>
    <p>&copy; [% company %] 2015</p>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify/loader/run_prettify.js"></script>
